on:
  push:
    tags:
      - '*'

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            arch: x86_64
            artifact: xcbuild-linux-x86_64.tar.xz
          - os: ubuntu-24.04-arm
            arch: aarch64
            artifact: xcbuild-linux-aarch64.tar.xz
          - os: macos-26
            arch: x86_64
            artifact: xcbuild-macos-x86_64.tar.xz
          - os: macos-26-arm
            arch: aarch64
            artifact: xcbuild-macos-aarch64.tar.xz
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - run: bazel build //:xcbuild
      - run: cp bazel-bin/xcbuild.tar.xz ${{ matrix.artifact }}
      - uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.artifact }}
          path: ${{ matrix.artifact }}

  release:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/download-artifact@v4
        with:
          merge-multiple: true
      - uses: softprops/action-gh-release@v2
        with:
          files: xcbuild-*.tar.xz
